html {
    background: url(../../Images/../../Images/barge-in-fog.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -O-background-size: cover;
    background-size: cover;
}

h1 {
    font-size: 1.0em;
}

body {
    font-size: 12px;
    background-color: transparent;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

input {
    line-height: 1em;
}

p {
    font-size: 1.0em;
}

.containerList {
    font-size: 1.0em;
}

.logo {
    display: inline;
}

.siteUrl {
    display: inline;
    line-height: 1.0em;
    font-size: 1.0em;
}

.status {
    vertical-align: central;
    float: right;
    padding-right: 1em;
}

.ng-dirty .ng-valid {
    border-color: aquamarine;
}

.ng-dirty .ng-invalid {
    border-color: crimson;
}

.btn-responsive {
    padding: 2px 4px;
    font-size: 80%;
    line-height: 1;
    border-radius: 3px;
}

@media screen and (max-width:640px) {
    .logo {
        display: none;
    }

    .status {
        float: right;
        padding-right: 0.05em;
    }

    .containerList {
        font-size: 0.7em;
    }

    .btn-responsive {
        padding: 2px 4px;
        font-size: 50%;
        line-height: .8em;
        border-radius: 3px;
    }

    input {
        line-height: .08em;
    }
}