html{
    background: url(../../Images/../../Images/bargesBackGround.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -O-background-size: cover;
    background-size:cover;
}
body {
    font-size: 16px;
    background-color:transparent;
}

.vcenter{
    display : inline-block;
    vertical-align : middle;
    float : none;
}

input{
    line-height : 1em;
}



p{
    font-size : 1.0em;
}

.containerList{
    font-size : 1.0em;
}


.logo{
    display : inline;
}

.siteUrl{
    display : inline;
    line-height : 2.0em;
    font-size : 2.3em;
}

.status{
    vertical-align:central;
    float:right;
    padding-right:3em;
}
.ng-dirty .ng-valid{
    border-color : aquamarine;
}

.ng-dirty .ng-invalid{
    border-color:crimson;
}

  .btn-responsive {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
    border-radius:3px;
  }

@media screen and (max-width:640px) {
    .logo{
        display : none;
    }

    .status{
        float:right;
        padding-right:0.05em;
    }

    .containerList{
        font-size : 0.7em;
     }

    .btn-responsive {
        padding:2px 4px;
        font-size:50%;
        line-height: .8em;
        border-radius:3px;
  }

    input{
    line-height : .08em;
}
}